.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

#post-165 {
  width: min(100% - 2vw, 800px);
  margin-inline: auto;
  margin-block: 1;
  padding-block: 2rem;
}
