.accordion-section {
    margin: 5em auto;
}
.accordion {
    border: 3px solid #000;
    margin: 2em auto;
}
.accordion h3 {
    font-size: 1rem;
    margin: 0;
    color: currentColor;
}
.accordion-button {
    display: -webkit-flex;
    display: flex;
    padding: 1rem;
    color: currentColor;
    background: #000;
    border: none;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    max-width: 100%;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}
.accordion-button svg path {
    -webkit-transition: fill ease 0.3s;
    transition: fill ease 0.3s;
}
.accordion-button:hover,
.accordion-button:focus, 
.accordion-button:active {
    border-color: transparent;
    box-shadow: none;
}
.accordion-button:focus {
    outline: thin dashed #fff;
}
.accordion-title {
    width: 100%;    
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.accordion-icon {
    display: block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-align-self: center;
    align-self: center;
}
.accordion-icon svg {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}
.accordion-icon svg path {
    fill: currentColor;
}
.accordion.open-tab .accordion-icon {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.accordion-text {
    display: none;
    padding: 1.5em 2em .25em;
}
@media screen and (min-width: 37.5em) {
    .accordion-title {
        font-size: 2rem;
    }
    .accordion-icon svg {
        width: 2.25rem;
        height: 2.25rem;
    }
    .accordion-text {
        padding: 3em 3em 1.5em;
    }
}
