footer p,
footer li {
  font-size: $step--2;
}

footer p {
  margin-bottom: 0;
  margin-top: 0;
  @media (min-width: $desktop) {
    text-align: right;
    margin-right: 1rem;
  }
}

footer h2 {
  margin-bottom: 0.25rem;
  font-size: $step-1;
}

.site-footer {
  text-align: center;
  background-color: $dark;
  color: white;
}

.all-footer-items {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 2fr 7fr;
    padding: 0rem 5rem 1rem;
  }
}

footer ul li a {
  text-decoration: none;
  color: white;
  &:hover {
    color: $secondary;
  }
}
footer li {
  color: white;
}

.footer-nav-container {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
  }
  @media (min-width: $laptop) {
  }
}

footer address {
  margin: 0;
}

.contact-footer {
  padding-bottom: 1.5rem;
  @media (min-width: $desktop) {
    grid-column-end: 6;
    max-width: 18.375rem;
  }
}

.socials-footer {
  @media (min-width: $desktop) {
    grid-column-end: 5;
  }
}

.policy-and-names {
  width: fit-content;
  margin-inline: auto;
  .privacy-policy {
    @media (min-width: $desktop) {
      font-size: $step--2;
      grid-column-end: 3;
      height: fit-content;
      align-self: end;
      display: none;
    }
  }
}
.our-names {
  a {
    color: white;
  }
  @media (min-width: $desktop) {
    font-size: $step--2;
    grid-column-end: 4;
    p a {
      text-decoration: none;
    }
  }
}

.footer-logo {
  margin: 0 auto;
  img {
    width: min(10vw, 800px);
    // margin-bottom: 1rem;
  }

  a img {
    @media (min-width: $desktop) {
      // margin-bottom: -1rem;
    }
  }
}

.site-info {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.privacy-policy-desktop {
  display: none;
  @media (min-width: $desktop) {
    font-size: $step--2;
    display: block;
  }
}

footer ul li a {
  &:focus {
    outline: 1px solid $secondary;
    color: $secondary;
  }
}

.privacy-policy-desktop {
  color: white;
  &:focus {
    outline: 1px solid $secondary;
    color: $secondary;
  }
}
