#about {
  margin-inline: 1rem;
  @media (min-width: $tablet) {
    margin-inline: 1.5rem;
  }
}

#about p {
  padding-top: 1rem;
  text-align: center;
  margin: 0 auto;
}

#about h1,
#about h2,
#about h3 {
  text-align: center;
}

#about h3 {
  margin: 0;
}

#about article img {
  border-radius: 50%;
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
  display: flex;
  margin: 0 auto;
  @media (min-width: $desktop) {
    max-width: 400px;
    max-height: 400px;
  }
}

#about .primary {
  margin: auto;
  display: flex;
  max-width: fit-content;
  margin-top: 1.2rem;
}

.tour-descrip {
  max-width: 41rem;
}

#about article {
  padding-block: 1.2rem;
  @media (min-width: $laptop) {
    display: flex;
    padding-block: 3rem;
    justify-content: space-around;
    align-items: center;
  }
}

#about {
  header {
    position: relative;
    min-height: 60vh;
    padding-top: 2rem;

    h1 {
      position: absolute;
      color: white;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $step-6;
      z-index: 2;
      text-transform: uppercase;
      letter-spacing: 6px;
    }

    img {
      display: block;
      height: 60vh;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }
}
