.woocommerce-cart {
  article {
    width: min(100% - 5vw, em(700));
    margin-inline: auto;
    margin-block: 10rem;
  }
  dd {
    margin: 0px;
  }
  h2 {
    font-size: $step-0;
  }
  p {
    margin: 0px;
  }

  .product-name {
    a {
      color: black;
      text-decoration: none;
      font-size: $step-2;
      font-weight: 800;
    }
  }

  .woocommerce {
    margin-bottom: 2rem;
    .woocommerce-cart-form__cart-item {
      background: rgba(152, 193, 217, 0.5);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2vw;
      & > * {
        margin-block: 2rem;
      }
      .product-remove {
        flex-basis: auto;
        a {
          text-decoration: none;
          color: red;
          font-size: $step-4;
        }
      }
      @media (min-width: $tablet) {
        display: flex;
        gap: 1rem;
        & > * {
          flex-basis: 100%;
          margin-block: 0;
        }
      }
      h2 {
        margin: 0px;
      }
    }
  }

  .checkout-button {
    display: inline-block;
    text-decoration: none;
    padding: em(10) em(30);
    background-color: $secondary;
    color: white;

    &:visited {
      color: $color__link-visited;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color__link-hover;
    }

    &:focus {
      outline: thin dotted;
    }

    &:hover,
    &:active {
      outline: 0;
    }
  }
}

.cart-collaterals {
  margin-top: 5rem;
  margin-left: auto;
  width: min(100%, 300px);
  margin-right: 1rem;
}

.wc-proceed-to-checkout {
  a {
    border-radius: 10px;
  }
}
