.faq-main {
  padding-block: 3em;
  h1 {
    display: flex;
    justify-content: center;
  }
  @media (max-width: $laptop) {
    .faq-questions {
      margin: 2rem 4rem;

      .faq-question {
        font-weight: bold;
      }
    }
    .cta-check-out-tours {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        align-self: center;
      }
    }
  }

  .faq-questions {
    width: min(100% - 2rem, 800px);
    margin-inline: auto;

    .faq-question {
      font-weight: bold;
    }
  }
  @media (min-width: $laptop) {
    .faq-hero-img img {
      height: 70vh;
      width: 100%;
      object-fit: cover;
    }

    .cta-check-out-tours {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        align-self: center;
      }
    }
  }
}
