body.page-id-50 {
  font-size: $step-0;
  .site-main > *:not(.hero-container) {
    margin-block: 5rem;
  }
  .hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    img {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: em(600);
      margin-inline: em(20);
      z-index: 1;
      color: #fff;
      h1 {
        font-size: $step-6;
      }
    }
  }

  .products-container {
    h2 {
      text-transform: uppercase;
      font-size: $step-5;
      text-align: center;
    }
    .single-tour-container {
      padding: em(20) em(10);
      margin-block: 10vw;
      &:first-of-type {
        margin-top: 0;
      }
      h3 {
        text-align: center;
      }
      p {
        max-width: em(500);
        margin-inline: auto;
      }
      a {
        display: block;
        width: fit-content;
        margin-inline: auto;
      }
      @media (min-width: $laptop) {
        position: relative;
        max-width: 1500px;
        margin-inline: auto;
        img {
          position: absolute;
          z-index: -1;
          width: min(70vw, 1000px);
          right: 0;
          // opacity: 0.8;
          top: 0;
          display: block;
          height: 100%;
          object-fit: cover;
        }
        .info-container {
          max-width: 600px;
          background: rgba(241, 248, 248, 0.45);
          backdrop-filter: blur(3px);
          -webkit-backdrop-filter: blur(3px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
          padding: em(30) em(10);
          color: black;
        }

        &:nth-child(odd) {
          img {
            left: 0;
          }
          .info-container {
            margin-left: auto;
          }
        }
      }
    }
  }

  .two-columns {
    section {
      padding: em(50) em(20);
      h2 {
        margin: 0px;
        text-transform: uppercase;
        text-align: center;
      }
      ul {
        max-width: em(400);
        margin-inline: auto;
      }
    }

    .heading {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: em(10);
      margin-bottom: em(20);
      svg {
        max-width: em(30);
      }
    }
    .what-to-bring-container {
      background-color: $primary_md;
    }
    .whats-included-container {
      background-color: $primary_dark;
      color: white;
      svg {
        fill: white;
      }
    }

    @media (min-width: $laptop) {
      display: flex;
      & > * {
        flex-basis: 100%;
      }
    }
  }

  .testimonials-container {
    padding-inline: em(20);
    .border-block {
      border-block: 1px solid black;
      max-width: em($desktop);
      padding-block: min(8vw, em(70));
      margin-inline: auto;
      blockquote {
        max-width: em(600);
        margin-inline: auto;
        cite {
          display: inline-block;
          margin-bottom: 1em;
        }
      }
    }
  }
}
