a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

a.primary {
  display: inline-block;
  text-decoration: none;
  padding: em(10) em(30);
  background-color: $secondary;
  color: white;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
