a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

.primary {
  display: inline-block;
  text-decoration: none;
  padding: em(10) em(30);
  background-color: $secondary;
  color: white;
  border-radius: 10px;

  &:visited {
    color: white;
  }

  &:hover,
  &:focus,
  &:active {
    color: white;
  }

  &:focus {
    outline: thin dotted $secondary;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

header a:hover {
  color: $secondary;
}

footer a:visited {
  color: white;
}
